@import 'material-icons/iconfont/material-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='dark'] {
    --html-body-bg-color: rgb(30, 36, 47);
    --html-default-text-color: #ffffff;
    --html-default-input-bg-color: rgba(56, 65, 80, 0.9);
    --html-scrollbar-track: rgba(20, 25, 33);
    --html-scrollbar-thumb: rgba(56, 65, 80, 0.9);
    --html-scrollbar-thumb-hover: rgba(56, 65, 80, 1);

    --dock-bg-color: rgba(20, 25, 33);
    --dock-border-color: #2f2b3a;

    --dock-item-bg-color: rgba(42, 48, 63);
    --dock-item-text-color: #9f9f9f;
    --dock-item-bg-color-selected: rgb(42, 48, 63);
    --dock-item-text-color-selected: #ffffff;

    --dock-tooltip-bg-color: #ffffff;
    --dock-tooltip-text-color: #000000;

    --menu-bg-color: rgba(33, 44, 54, 1);
    --menu-border-color: #2f2b3a;

    --menu-sub-options-button-bg-color: rgba(50, 56, 73);
    --menu-sub-options-button-text-color: #e1e1e1;

    --menu-sub-options-button-bg-color-selected: rgb(63, 70, 89);
    --menu-sub-options-button-text-color-selected: #ffffff;

    --content-header-bg-color: #afafaf;

    --btn-header-bg-color: rgba(62, 68, 86, 0.8);
    --btn-header-bg-color-selected: rgb(76, 83, 103);
    --btn-header-text-color: rgba(255, 255, 255, 0.8);
    --btn-header-text-color-selected: rgb(255, 255, 255);

    --btn-primary-bg-color: rgba(87, 62, 192, 0.8);
    --btn-primary-bg-color-selected: rgba(87, 62, 192, 1);
    --btn-primary-text-color: rgba(255, 255, 255, 0.8);
    --btn-primary-text-color-selected: rgb(255, 255, 255);

    --btn-danger-bg-color: rgba(168, 66, 66, 0.8);
    --btn-danger-bg-color-selected: rgb(168, 66, 66);
    --btn-danger-text-color: rgba(255, 255, 255, 0.8);
    --btn-danger-text-color-selected: rgb(255, 255, 255);

    --btn-success-bg-color: rgba(83, 168, 66, 0.8);
    --btn-success-bg-color-selected: rgba(83, 168, 66, 1);
    --btn-success-text-color: rgba(255, 255, 255, 0.8);
    --btn-success-text-color-selected: rgb(255, 255, 255);
}

[data-theme='light'] {
    --btn-primary-bg-color: #1c76c5;
}

@layer components {

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--html-scrollbar-track);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--html-scrollbar-thumb);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--html-scrollbar-thumb-hover);
    }

    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
    }

    dialog {
        @apply hidden opacity-0 pointer-events-none rounded-md;
        transition: opacity 0.5s;
        color: var(--html-default-text-color);
        background-color: var(--dock-item-bg-color);
    }

    dialog[open] {
        opacity: 1;
        display: flex;
        flex-direction: column;
        pointer-events: inherit;
    }

    .dialog-body {
        @apply flex-1 overflow-y-auto p-5;
    }

    .dialog-footer {
        @apply p-4 flex flex-row justify-end gap-4;
        background-color: var(--dock-item-bg-color);
    }

    body {
        margin: 0;
        padding: 0;
        background-color: var(--html-body-bg-color);
    }

    input, select {
        @apply px-3 py-2 rounded-md w-full;
        background-color: var(--html-default-input-bg-color);
        color: #ffffff;
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;
    }

    h2 {
        font-size: 1.75rem;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;
    }

    h4 {
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;
    }

    .large-test-div {
        @apply border-2 border-red-500;
        width: 100%;
        height: 2000px;
    }

    .div-hide {
        @apply hidden;
    }

    .top-nav {
        @apply sticky top-0 flex justify-between align-middle px-5;
        background-color: var(--menu-bg-color);
        height: 100px;
    }

    .top-nav img {
        @apply cursor-pointer;
        max-height: 60px;
        display: block;
    }

    .top-nav-item {
        @apply flex flex-row items-center justify-center gap-4;
    }

    .checkbox {
        @apply relative inline-flex items-center cursor-pointer align-middle;
    }

    .checkbox-switch {
        @apply relative inline-flex items-center cursor-pointer;
        width: 2.5rem;
        height: 1.25rem;
        border-radius: 1.25rem;
        background-color: var(--html-default-input-bg-color);
    }

    .checkbox-switch-button {
        @apply absolute inline-flex items-center justify-center w-5 h-5
        transition duration-200 ease-in-out bg-white rounded-full shadow
        transform translate-x-0;
    }

    .checkbox-on .checkbox-switch-button {
        transform: translateX(100%);
    }

    .checkbox-on .checkbox-switch {
        background-color: var(--btn-primary-bg-color);
    }

    .checkbox-switch-text {
        @apply ml-3;
        color: var(--html-default-text-color);
    }

    .btn {
        @apply flex flex-row align-middle justify-center
        rounded-xl cursor-pointer select-none
        font-semibold p-3 gap-1;
    }

    .btn-header {
        @apply btn justify-between;
        background: var(--btn-header-bg-color);
        color: var(--btn-header-text-color);
    }

    .btn-header:hover {
        background: var(--btn-header-bg-color-selected);
        color: var(--btn-header-text-color-selected);
    }

    .btn-header-selected {
        background: var(--btn-header-bg-color-selected);
        color: var(--btn-header-text-color-selected);
    }

    .btn-primary {
        @apply btn;
        background: var(--btn-primary-bg-color);
        color: var(--btn-primary-text-color);
    }

    .btn-primary:hover {
        background: var(--btn-primary-bg-color-selected);
        color: var(--btn-primary-text-color-selected);
    }

    .btn-danger {
        @apply btn;
        background: var(--btn-danger-bg-color);
        color: var(--btn-danger-text-color);
    }

    .btn-danger:hover {
        background: var(--btn-danger-bg-color-selected);
        color: var(--btn-danger-text-color-selected);
    }

    .btn-success {
        @apply btn;
        background: var(--btn-success-bg-color);
        color: var(--btn-success-text-color);
    }

    .btn-success:hover {
        background: var(--btn-success-bg-color-selected);
        color: var(--btn-success-text-color-selected);
    }

    .btn-sm {
        @apply py-2 px-3;
    }

    .form-group {
        @apply flex flex-row gap-4 items-center mb-5;
    }

    .form-group label {
        @apply whitespace-nowrap;
    }

}
