[x-cloak] {
    display: none;
}

.form {
    box-sizing: border-box;
}

.form input {
    margin-bottom: 18px;
    box-sizing: border-box;
}

.form textarea {
    margin-bottom: 18px;
    box-sizing: border-box;
}

.form select {
    margin-bottom: 18px;
    box-sizing: border-box;
}

.inputs-100 input {
    width: 100%;
}

.inputs-100 textarea {
    width: 100%;
}

.inputs-100 select {
    width: 100%;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.button-group {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.action-box {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.quest-group-box {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
    gap: 10px;
}

.character-group-box {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
    gap: 10px;
}

.quest-box {
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.quest-box-active {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
}

.quest-box-flat {
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.character-box {
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.character-box-quest {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.character-box-active {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
}

.character-box-flat {
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.quest-box:hover {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
}

.character-box:hover {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
}

.quest-box > h1, .quest-box > h2, .quest-box > h3 {
    margin-top: 0;
}

.quest-box-flat > h1, .quest-box-flat > h2 {
    margin-top: 0;
}

.quest-box p {
    margin-bottom: 0;
}

.after-input-smalltext {
    margin-top: -10px;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.char-stat-group {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.char-stat {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.char-stat p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.char-icon {
    width: 25px;
    height: 25px;
    display: inline;
}

.large-char-icon {
    width: 45px;
    height: 45px;
    display: inline;
}

.large-char-icon-inactive {
    opacity: 0.2;
}

@media screen and (max-width: 700px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .button-group {
        flex-direction: column;
    }

    .button-group button, a {
        width: 100%;
    }
}

.dice-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 5px;
}

.dice {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
    color: white;
    font-size: 200%;
    border-radius: 10px;
}