{% extends "extends/main.html" %}
{% block title %}Quests{% endblock %}


{% block container %}
    <div class="action-box mb-1" x-data="{show_add: false, genre: 0}">
        <form class="form inputs-100"
              action="{{ url_for('www.add_quest') }}"
              x-ref="add_quest"
              method="post">

            <div class="button-group" x-show="!show_add" x-cloak>
                <button type="button" @click="show_add = true">
                    Add Quest
                </button>
            </div>

            <div class="button-group" x-show="show_add" x-cloak>
                <button type="button" @click="$refs.add_quest.reset(); show_add = false;">
                    Cancel
                </button>
                <button type="submit">Save Quest</button>
            </div>

            <div class="pt-2" x-show="show_add" x-cloak x-collapse>

                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="" required>

                <label for="fk_genre_id">Genre</label>
                <select name="fk_genre_id" id="fk_genre_id" x-model="genre" required>
                    <option>Select...</option>
                    {% for genre in q_genres %}
                        <option value="{{ genre.genre_id }}">
                            {{ genre.genre }} ({{ genre.description }})
                        </option>
                    {% endfor %}
                </select>

            </div>
        </form>
    </div>

    <div class="desktop">
        <table>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Status</th>
                <th>&nbsp;</th>
            </tr>
            {% if q_quests %}
                {% for quest in q_quests %}
                    <tr>
                        <td>{{ quest.title }}</td>
                        <td>{{ quest.rel_genre.genre }}</td>
                        <td>
                            {% if not quest.finished %}
                                {{ 'Live' if quest.live else 'Under Construction' }}
                            {% else %}
                                Finished
                            {% endif %}
                        </td>
                        <td style="text-align: right">
                            {% if quest.finished %}
                                -
                            {% else %}
                                {% if session.get('user_type') == 10 or quest.live %}
                                    <a class="button-link"
                                       href="{{ url_for('www.quest', quest_id=quest.quest_id) }}">View</a>
                                {% else %}
                                    <a class="disabled-link">View</a>
                                {% endif %}
                                {% if session.get('user_type') == 10 %}
                                    <a class="button-link"
                                       href="{{ url_for('www.edit_quest', quest_id=quest.quest_id) }}">Edit</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" style="text-align: center">No quests yet!
                </tr>
            {% endif %}
        </table>
    </div>

    <div class="mobile">
        {% if q_quests %}
            {% for quest in q_quests %}
                <div class="character-box-flat mb-1">
                    <h3 class="mt-1">{{ quest.title }}</h3>
                    <p>{{ quest.rel_genre.genre }}</p>
                    {% if not quest.finished %}
                        {% if quest.live %}
                            <button class="bg-green w-100">Live</button>
                        {% else %}
                            <button class="bg-blue w-100">Under Construction</button>
                        {% endif %}
                    {% else %}
                        <button class="bg-red w-100">Finished</button>
                    {% endif %}

                    {% if quest.live %}
                        <a href="{{ url_for('www.quest', quest_id=quest.quest_id) }}">
                            <button class="w-100 mt-1">View</button>
                        </a>
                    {% else %}
                        <button class="w-100 mt-1" disabled>View</button>
                    {% endif %}

                    {% if session.get('user_type') == 10 %}
                        <a href="{{ url_for('www.edit_quest', quest_id=quest.quest_id) }}">
                            <button class="w-100 mt-1">Edit</button>
                        </a>
                    {% endif %}

                </div>
            {% endfor %}
        {% else %}
            <div class="character-box-flat mb-1">
                <p>No Quests</p>
            </div>
        {% endif %}
    </div>

{% endblock %}
