{% extends "extends/main.html" %}
{% block title %}Create Character{% endblock %}


{% block container %}
    <div class="quest-box-flat">
        <h1>{{ q_quest.title }}</h1>
        <cite>{{ q_quest.rel_genre.genre }}</cite>
        <p>{{ q_quest.summary }}</p>
    </div>
    <div x-data="{arc_card: ''}">

        <div class="character-box-flat mt-2">
            <img class="char-icon mt-2" src="{{ url_for('static', filename='icons/info.svg') }}"
                 alt="Info">
            <strong>How the game works</strong>
            <p>All actions will be decided with the roll of the six sided dice. </p>
            <p>Each Arc has its own stats that will dictate the roll you need.</p>
            <p><strong>Causing damage:</strong> In order to cause damage to an enemy you need to roll more than the
                enemy's defence points. For example, if an enemy's defence is 2;
                You will need to roll a 3 or above to cause damage. This damage would be your attack points.
                1 Attack point = 10hp.</p>

            <p><strong>Scenario checks:</strong> During the quest you will come up against
                various challenges and scenarios. This is where your attributes will be checked. Attributes work
                in reverse of the dice roll. For example, if you have a Strength of 1, you minus 1 from 6, and you
                would need a 5 or above to successfully perform the act of Strength you are attempting.</p>
            <p>Checks will be made using common sense by the Quest Master.</p>

            <p><strong>The rules of effects</strong></p>
            <p>Poisoned: This will last until the encounter is over.</p>
            <p>Sleeping: This will last until you are hit.</p>
            <p>Confused: This will last 2 turns.</p>
            <p>Buffed: This will last until the encounter is over.</p>
        </div>

        <form
                action="{{ url_for('www.add_character_to_quest', quest_id=q_quest.quest_id) }}"
                method="post"
        >
            <h1>Build your Character</h1>
            <div class="form inputs-100">
                <label for="full_name">Full Name</label>
                <input type="text" name="full_name" id="full_name" required>
                <input type="hidden" name="arc_card" x-model="arc_card">
            </div>

            <h2>Choose your Arc Card</h2>
            <div class="character-group-box">
                {% for arc, values in arc_cards.items() %}
                    <div class="character-box pb-2" @click="arc_card = '{{ arc }}'"
                         :class="arc_card === '{{ arc }}' ? 'character-box-active' : ''">

                        <div>
                            <h2 class="mt-1">{{ arc }}</h2>
                            <p>{{ values.arc_description }}</p>
                            <h4>Modifier</h4>
                            <p>{{ values.arc_modifier }}</p>
                            <p>{{ values.arc_bonus }}</p>
                        </div>

                        <div>
                            <div class="char-stat-group">
                                <div>
                                    <strong>Stats</strong>
                                </div>
                                <div class="char-stat">
                                    <p>Weapon</p>
                                    <img class="char-icon" src="{{ url_for('static', filename='icons/weapon.svg') }}"
                                         alt="Weapon">
                                    <p><strong>{{ values.weapon }}</strong></p>
                                </div>
                                <div class="char-stat">
                                    <p>Health</p>
                                    <img class="char-icon" src="{{ url_for('static', filename='icons/health.svg') }}"
                                         alt="Health">
                                    <p><strong>{{ values.health }}</strong></p>
                                </div>
                                <div class="char-stat">
                                    <p>Attack</p>
                                    <img class="char-icon" src="{{ url_for('static', filename='icons/attack.svg') }}"
                                         alt="Attack">
                                    <p><strong>{{ values.attack }}</strong></p>
                                </div>
                                <div class="char-stat">
                                    <p>Defence</p>
                                    <img class="char-icon" src="{{ url_for('static', filename='icons/defence.svg') }}"
                                         alt="Defence">
                                    <p><strong>{{ values.defence }}</strong></p>
                                </div>
                                <div class="pt-1">
                                    <strong>Attributes</strong>
                                </div>
                                <div class="char-stat">
                                    <p>Strength</p>
                                    <img class="char-icon" src="{{ url_for('static', filename='icons/strength.svg') }}"
                                         alt="Strength">
                                    <p><strong>{{ values.strength }}</strong></p>
                                </div>
                                <div class="char-stat">
                                    <p>Agility</p>
                                    <img class="char-icon" src="{{ url_for('static', filename='icons/agility.svg') }}"
                                         alt="Agility">
                                    <p><strong>{{ values.agility }}</strong></p>
                                </div>
                                <div class="char-stat">
                                    <p>Intelligence</p>
                                    <img class="char-icon"
                                         src="{{ url_for('static', filename='icons/intelligence.svg') }}"
                                         alt="Intelligence">
                                    <p><strong>{{ values.intelligence }}</strong></p>
                                </div>
                                <div class="char-stat">
                                    <p>Luck</p>
                                    <img class="char-icon" src="{{ url_for('static', filename='icons/luck.svg') }}"
                                         alt="Luck">
                                    <p><strong>{{ values.luck }}</strong></p>
                                </div>
                                <div class="char-stat">
                                    <p>Perception</p>
                                    <img class="char-icon"
                                         src="{{ url_for('static', filename='icons/perception.svg') }}"
                                         alt="Perception">
                                    <p><strong>{{ values.perception }}</strong></p>
                                </div>
                                <div class="char-stat">
                                    <p>Persuasion</p>
                                    <img class="char-icon"
                                         src="{{ url_for('static', filename='icons/persuasion.svg') }}"
                                         alt="Persuasion">
                                    <p><strong>{{ values.persuasion }}</strong></p>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
            <h2>Write your back story</h2>
            <textarea name="back_story" id="back_story" rows="15"
                      placeholder="Who your character is, why they are who they are, what they value..."
                      required></textarea>

            <div class="action-box bg-red mt-2" style="text-align: center" x-show="arc_card === ''" x-cloak>
                <p>You need to select an Arc Card before you can create your character</p>
            </div>
            <button type="submit" class="w-100 mt-2 mb-2 pt-2 pb-2" :disabled="arc_card === ''">
                Add Character to Quest!
            </button>
        </form>
    </div>
{% endblock %}
