{% extends "extends/main.html" %}
{% block title %}Your Characters{% endblock %}


{% block container %}
    {% if q_characters %}
        {% for character in q_characters %}
            <div class="character-box-flat mb-1">
                <h3 class="mt-1">{{ character.full_name }}</h3>
                <p class="mb-1">Quest: {{ character.rel_quest.title }}</p>
                <p class="mb-1">Arc: {{ character.arc }}</p>
                <a href="{{ url_for('www.quest', quest_id=character.fk_quest_id, character_id=character.character_id) }}">
                    <button class="w-100 mt-1">Open Quest</button>
                </a>
                {% if character.locked %}
                    <button class="w-100 mt-1" disabled>Edit ( Character is locked )</button>
                {% else %}
                    <a href="{{ url_for('www.edit_quest_character', quest_id=character.fk_quest_id, character_id=character.character_id) }}">
                        <button class="w-100 mt-1">Edit</button>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="character-box-flat mb-1">
            <p>You have no characters, <a href="{{ url_for('www.create_character') }}">
                create one</a>.</p>
        </div>
    {% endif %}

{% endblock %}
